body {
	font-family: georgia;
}
a {
	color: #2256cb;
}
h1 {
	border-bottom: 1px solid #656565;
	padding-bottom: 3px;
}
h1 a {
	text-decoration: none;
	color: #656565;
}
h2 a {
	text-decoration: none;
	color: #000000;
}
table th {
	text-align: left;
	border-bottom: 1px solid #9b9b9b;
	color: #656565;
	font-weight: normal;
	font-size: 13px;
}
#page {
	width: 800px;
	margin: 0 auto;
}
#main > .notice, #main > .alert {
	margin: 10px 0px;
	font-size: 20px;
	padding: 15px 20px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}
#main > .notice {
	background-color: #4dac1b;
	color: #ffffff;
}
#main > .alert {
	background-color: #ac1b1b;
	color: #ffffff;
}
#page > .admin {
	position: absolute;
	right: 20px;
	top: 10px;
}
.post h2 {
	margin-bottom: 3px;
}
.post .author {
	font-size: 14px;
}
.post .content {
	margin-top: 10px;
	margin-bottom: 40px;
}
.manage_posts table {
	width: 100%;
}
.manage_posts table tbody .actions {
	text-align: center;
}
