body {
	font-family: georgia;
}
h1 {
	border-bottom: 1px solid #000000;
}
h1 a {
	text-decoration: none;
	color: #000000;
}
h2 a {
	color: #656565;
}
table th {
	text-align: left;
	border-bottom: 1px solid #9b9b9b;
	color: #656565;
	font-weight: normal;
	font-size: 13px;
}
#page {
	width: 800px;
	margin: 0 auto;
}
.post h2 {
	margin-bottom: 5px;
}
.post .author {
	margin-bottom: 10px;
}
.manage_posts table {
	width: 100%;
}
.manage_posts table tbody .actions {
	text-align: center;
}