<h1>Users</h1>

<p><%= link_to 'Create new user', new_user_path %></p>

<% if @users.any? %>
	<% for user in @users %>
		<div><%= user.name %></div>
	<% end %>
<% else %>
	<p>No users found.</p>
<% end %>
