<h1>Posts</h1>

<p><%= link_to 'Create new post', new_post_path %></p>

<% if @posts.any? %>
	<% for post in @posts %>
		<div><%= link_to_post post %></div>
	<% end %>
<% else %>
	<p>No posts found.</p>
<% end %>
